.content {
  border: none !important;
}

.wrapper {
  border: none !important;
}

.main-header {
  box-shadow: none !important;
  border: none !important;
}

.card {
  border: none;
  box-shadow: none !important;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f0f3f5;
  border-bottom: 1px solid #c8ced3;
}

@media print {
  aside, .procceed, .sidenav, .ad, .main-footer, #modal-buttons {
    display: none !important;
  }
  .table-responsive {
    overflow: hidden;
  }
}